@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kameron", sans-serif;
}

header {
	background-color: #8C2323;
	display: flex;
	align-items: center;
	text-align: center;
	display: flex;
	padding: 1.5rem 0.90rem;
	justify-content: space-between;
	margin: 0 auto;
}

.conteiner {
	display: flex;
	max-width: 1080px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.menu {
	text-align: center;
	color: #ffffff;
	text-align: center;
	align-items: center;
	font-size: 2rem;
	text-decoration: none;


}




nav>a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1rem;
	margin-left: 2px;
	margin-left: 35px;

}


img {
	width: 300px;
	height: 380px;
	display: flex;
	justify-content: last baseline;
	margin: 10px;
	margin-top: 2.4rem;
}

h1 {
	color: #ffffff;
	text-align: center;
	align-items: center;

}

h2 {
	color: #8C2323;
	text-align: center;
	align-items: center;
	margin-top: 30px;
	font-size: 50px;
}

h3 {
	color: #8C2323;
	text-align: center;
	align-items: center;
	margin-top: 0px;
	font-size: 50px;
}

.foot {
	background-color: #8C2323;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 0.8rem;

}